<h1>Заказ звонка!</h1>
<br>
<p><b>Имя заказчика:</b> <%= @customer_name %> </p>
<p><b>Телефон:</b> <%= @customer_phone %> </p>
<p><b>Звонить через:</b> <%= @call_type.join(', ') %> </p>
<p><b>Дата заказа:</b> <%= @date %> </p>
