@media (max-width: 1200px) {
  .imagesModal .modal-content {
    min-width: 90%;
  }
  .imagesModal .mySlides {
    max-width: 90%;
    margin: 0 auto;
  }
  .imagesModal .mySlides img {
    width: 100%;
  }
  .imagesModal .prev {
    left: -20px;
  }
  .imagesModal .next {
    right: -20px;
  }
  .imagesModal .close {
    right: -30px;
  }
  #second-menu.main-menu nav ul li img {
    margin-left: -10px;
    margin-right: 20px;
  }
}

@media (max-width: 1000px) {
  .currency {
    margin-left: 0;
  }
  .container {
    width: 95%;
  }
  .advantages .col-lg-4 {
    width: auto;
  }
}

@media (max-width: 900px) {
  .btn-group, .btn-group-vertical {
    margin-right: 160px;
  }
}

@media (max-width: 850px) {
  .header-17 .total-header-area .container .row.align-items-center {
    justify-content: center;
  }
  .header-17 .total-header-area .container .row.align-items-center .logo {
    margin-left: 10px !important;
    margin-right: 20px !important;
  }
}

@media (max-width: 810px) {
  .tour-container {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .header-17 .total-header-area {
    background-color: transparent;
  }
  #main-menu-container,
  #social-link-container .instagram,
  #social-link-container .facebook,
  #social-link-container .vk,
  #social-link-container .currency,
  #social-link-container > img,
  .scrolled-menu-container {
    display: none !important;
  }
  .header-17 .total-header-area .container .row.align-items-center {
    justify-content: space-around;
  }
  .total-brand-17 img {
    margin: 0;
  }
  .side-menubar nav {
    max-height: 50%;
    overflow: scroll;
    top: 44%;
    width: 211px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .side-menubar.open-menubar nav ul li {
    text-align: center;
  }
  .side-menubar nav ul li .dropdown-menu {
    min-width: 211px;
  }
  .side-menubar nav ul li .dropdown-menu.display-dropdown-menu a {
    padding-left: 20px;
  }
  .side-menubar .display-dropdown-menu {
    position: inherit;
  }
  .side-menubar.open-menubar nav ul {
    flex-direction: column;
  }
  .call-request {
    position: inherit;
    display: inline-block;
    left: 0;
    top: -20px;
  }
  .asana-banner .main-container .contact-info .container p.mail {
    display: inline-block;
  }
  #phone-order-image {
    width: 60px;
  }
  .call-request-scroll {
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 620px) {
  .modal-dialog {
    max-width: 95%;
  }
  .modal-content {
    width: 95%;
    height: auto;
    padding-bottom: 20px;
  }
  .input-container input {
    width: 80%;
  }
}

@media (max-width: 479px) {
  .footer-widget-17,
  .call-request,
  .asana-banner .main-container .contact-info .container p.mail {
    display: none;
  }
}

@media (max-width: 400px) {
  .show-sm {
    display: inherit;
  }
}
