@media (max-width: 1200px) {
  .imagesModal .modal-content {
    min-width: 90%;
  }
  .imagesModal .mySlides {
    max-width: 90%;
    margin: 0 auto;
  }
  .imagesModal .mySlides img {
    width: 100%;
  }
  .imagesModal .prev {
    left: -20px;
  }
  .imagesModal .next {
    right: -20px;
  }
  .imagesModal .close {
    right: -30px;
  }
  #second-menu.main-menu nav ul li img {
    margin-left: -10px;
    margin-right: 20px;
  }
}

@media (max-width: 1000px) {
  .currency {
    margin-left: 0;
  }
  .container {
    width: 95%;
  }
  .advantages .col-lg-4 {
    width: auto;
  }
}

@media (max-width: 900px) {
  .btn-group, .btn-group-vertical {
    margin-right: 160px;
  }
  .footer-widget-17 .container {
    width: 100%;
  }
  .footer-widget-17 .container .col-lg-2:first-child{
    flex: 0 0 28%;
    max-width: 28%;
  }
  .footer-widget-17 .container .col-lg-2:nth-child(5),
  .footer-widget-17 .container .col-lg-2:nth-child(3),
  .footer-widget-17 .container .col-lg-2:nth-child(4){
    flex: 0 0 12%;
    max-width: 12%;
  }
}

@media (max-width: 850px) {
  .header-17 .total-header-area .container .row.align-items-center {
    justify-content: center;
  }
  .header-17 .total-header-area .container .row.align-items-center .logo {
    margin-left: 10px !important;
    margin-right: 20px !important;
  }
}

@media (max-width: 810px) {
  .tour-container {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .header-17 .total-header-area {
    background-color: transparent;
  }
  #main-menu-container,
  #social-link-container .instagram,
  #social-link-container .facebook,
  #social-link-container .vk,
  #social-link-container .currency,
  #social-link-container > img,
  .scrolled-menu-container {
    display: none !important;
  }
  .header-17 .total-header-area .container .row.align-items-center {
    justify-content: space-around;
  }
  .total-brand-17 img {
    margin: 0;
  }
  .side-menubar nav {
    max-height: 50%;
    overflow: scroll;
    top: 44%;
    width: 211px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .side-menubar.open-menubar nav ul li {
    text-align: center;
  }
  .side-menubar nav ul li .dropdown-menu {
    min-width: 211px;
  }
  .side-menubar nav ul li .dropdown-menu.display-dropdown-menu a {
    padding-left: 20px;
  }
  .side-menubar .display-dropdown-menu {
    position: inherit;
  }
  .side-menubar.open-menubar nav ul {
    flex-direction: column;
  }
  .call-request {
    position: inherit;
    display: inline-block;
    left: 0;
    top: -20px;
  }
  .asana-banner .main-container .contact-info .container p.mail {
    display: inline-block;
  }
  #phone-order-image {
    width: 60px;
  }
  .call-request-scroll {
    bottom: 10px;
    right: 10px;
  }
  .footer-widget-17 .container .col-lg-2:nth-child(2),
  .footer-widget-17 .container .col-lg-2:nth-child(3),
  .footer-widget-17 .container .col-lg-2:nth-child(4),
  .footer-widget-17 .container .col-lg-2:nth-child(5),
  .footer-widget-17 .container .col-lg-2:nth-child(6){
    display: none;
  }
}

@media (max-width: 650px) {
  #orderTour .modal-dialog {
    max-width: 90%;
  }
  #orderTour .modal-content {
    width: 90%;
    height: auto;
    padding-bottom: 20px;
  }
  #orderTour .pplsCounter .col-5 {
    flex: 0 0 67%;
    max-width: 67%;
  }
  #orderTour .pplsCounter .col-7 {
    flex: 0 0 33%;
    max-width: 33%;
  }
}

@media (max-width: 620px) {
  .modal-dialog {
    max-width: 90%;
    margin: 50px auto !important;
  }
  .modal-content {
    width: 95%;
    height: auto;
    padding-bottom: 20px;
  }
  .input-container input {
    width: 80%;
  }
  .small_images {
    width: 100px;
  }
  #orderTour .formButtonsContainer {
    width: 100%;
  }
  .footer-widget-17 .container .col-lg-2:first-child {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .garanty {
    position: inherit;
    text-align: center !important;
    right: 0;
    left: 0;
    padding-top: 20px;
  }
  .avatar-container {
    display: none;
  }
  .reviews-block > .row .col-4 {
    flex: 20%;
    max-width: 20%;
    padding-right: 0;
  }
  .reviews-block > .row .col-4.comment-with-images {
    flex: 0 0 60.33333%;
    max-width: 60.33333%;
  }
  .reviews-block > .row .col-4 .row .images-container {
    display: none;
  }
  .reviews-block > .row .col-4 .row .images-container:first-child {
    display: inherit;
    margin: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .imagesModal .close {
    right: 0;
  }
}

@media (max-width: 479px) {
  .call-request,
  .asana-banner .main-container .contact-info .container p.mail {
    display: none;
  }
  .small_images {
    width: 60px;
  }
  #new_order > .row {
    flex-direction: column-reverse;
  }
  #new_order > .row > .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .modal-open #orderTour.modal {
    overflow: auto;
  }
  #orderTour .formButtonsContainer {
    flex-direction: column;
  }
  #orderTour .modal-content {
    top: 120px;
  }
}

@media (max-width: 400px) {
  .show-sm {
    display: inherit;
  }
}

@media (max-width: 375px) {
  .reviews-block > .row .col-4 {
    display: none;
  }
  .reviews-block > .row .col-4.comment-with-images {
    display: flex;
    flex-direction: column;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}
