<div class="modal fade" id="orderTour" tabindex="-1" role="dialog" aria-labelledby="orderCallLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="orderCallLabel">Добавлено в корзину</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="favorit-container">
          <div class="row item-container item-2 SeaTour">
            <div class="col-4 p-0">
              <img src="https://time-4-thai.s3.amazonaws.com/uploads/sea_tour/images/2/bottom_Screen_Shot_2019-01-29_at_08.16.18.png" alt="Bottom screen shot 2019 01 29 at 08.16.18">
            </div>
            <div class="col-8">
              <div>
                <p class="modal-item-title">Экскурсия на 11 островов и остров Ранг Яй</p>
              </div>
              <div class="modal-price-container">
                <p>2500 ฿</p>
              </div>

              <div class="modal-date-container">
                <%= show_svg 'calendar-alt-regular.svg' %>
                <input type="text" name="" value="" disabled="true" placeholder="Дата не выбрана" id="modal_order_booking_date">
              </div>

              <div class="modal-pplsCounterContainer">

                <div class="modal-pplsCounter adult">
                  <label>Взрослых</label>
                  <input type="number" name="" value="1" class="item-adult-count item-2-adult-count item-SeaTour-adult-count" id="modal_adult_count" readonly="true">
                </div>

                <div class="modal-pplsCounter">
                  <label>Детей</label>
                  <input type="number" name="" value="0" class="item-child-count item-2-child-count item-SeaTour-child-count" id="modal_child_count" readonly="true">
                </div>

              </div>

            </div>
          </div>
      
        </div>
        <div class="button-container">
          <%= link_to 'Перейти к оплате', carts_path %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            Продолжить выбор экскурсий
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
