.cart-container {
  min-height: 50vh;
}

.cart-container h2 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
}

.cart-container h1 {
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.cart-container h1:after {
  display: block;
  content: '';
  width: 70px;
  height: 4px;
  background: #1fa7f8;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.item-title {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
  color: #000;
  max-width: 160px;
  vertical-align: middle;
}

.ppls-count .col-3 {
  padding: 0;
}

.ppls-count .col-5 img {
  margin-top: -5px;
}

.date-total-price {
  margin-top: 33px;
  padding-left: 20px;
}

.date-total-price p {
  line-height: 35px;
  color: #078eaa;
  font-size: 33px;
  margin-top: -3px;
}

.date-total-price a {
  line-height: 20px;
  font-size: 50px;
  color: #d0021b;
}

.ppls-count p {
  display: inline;
  line-height: 35px;
}

.ppls-count .price-container {
  color: #000;
  font-weight: bold;
}

.ppls-count input {
  width: 53px;
  height: 35px;
  border-radius: 4px;
  border: solid 1px #d8dcdd;
  padding-left: 10px;
  color: #4a4a4a;
}

.pb20 {
  padding-bottom: 20px;
}

.pt10 {
  padding-top: 10px;
}

.date-container {
  position: relative;
  padding: 0 20px;
}

.date-container label {
  position: absolute;
  left: 30px;
  top: -9px;
  margin: 0;
  line-height: normal;
  color: #000000;
  background-color: white;
  padding: 0 10px;
}

.date-container input {
  height: 35px;
  border: solid 1px #d8dcdd;
  width: 100%;
  padding-left: 20px;
  color: #4a4a4a;
}

.total-price-container {
  margin-top: -20px;
}

.total-price-container button {
  width: 98px;
  height: 25px;
  border-radius: 2px;
  background-color: #f5a623;
  border-color: #f5a623;
  line-height: normal;
  color: white;
  z-index: 2;
}

#orderTour button.btn-primary.cart {
  display: none;
}

#orderTour .formButtonsContainer {
  justify-content: center;
}

.orderAllContainer {
  width: 650px;
  margin: 10px auto;
}

.allToursPriceText,
.allToursPriceAmount {
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  display: inline-block;
}

@media (max-width: 768px) {
  .cart-container .item-container {
    position: relative;
  }
  .cart-container .item-container > .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    position: relative;
  }
  .cart-container .item-container > .col-4 p {
    position: absolute;
    top: -30px;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 24px;
    max-width: 300px;
    width: 100%;
  }
  .cart-container .item-container > .col-3.ppls-count {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cart-container .item-container > .col-3.ppls-count .row .col-5 {
    text-align: left !important;
    padding-left: 30px;
  }
  .ppls-count .price-container {
    padding: 0;
  }
  .date-total-price {
    flex: 0 0 100%;
    max-width: 100%;
    position: static;
  }
  .date-total-price > .row {
    height: 80px;
  }
  .total-price-container {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    margin: 0;
    position: static;
  }
  .total-price-container button {
    position: absolute;
    bottom: 20px;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .remove-container {
    position: absolute;
    top: 80px;
    right: 30px;
  }
  .cart-container > .row {
    padding-top: 80px;
  }
  .allToursPriceText-container {
    text-align: left !important;
    padding-left: 10px;
  }
}

.cart-favorit-switching {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-favorit-switching button {
  width: 185px;
  height: 47px;
  border-radius: 6px;
  color: #1fa7f8;
  border-color: #1fa7f8;
  outline: none;
  cursor: pointer;
}

.cart-favorit-switching button#cart-favorites {
  display: flex;
  justify-content: center;
  margin-left: -4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cart-favorit-switching button#cart-favorites svg {
  margin-top: 3px;
  margin-right: 9px;
}

.cart-favorit-switching button#cart-favorites.active svg path {
  fill: #fff;
}

.cart-favorit-switching button.active {
  background-color: #1fa7f8;
  color: #fff;
}

.cart-container .row.item-container {
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(6, 52, 87, 0.14);
  background-color: #ffffff;
  margin-bottom: 15px;
  padding: 30px;
}

.cart-item-title {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #000000;
}

.delete-cart-item {
  position: absolute;
  top: 3px;
  right: 0;
  font-size: 32px;
  line-height: 18px;
  color: #d0021b;
}

.row.item-container .col-7 > div {
  max-width: 80%;
}

.total-price-container {
  margin-top: 9px;
  padding: 0;
}

.total-price-container p {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #000000;
}

.date-container {
  padding: 0;
}

.date-container input {
  height: 35px;
  border: solid 1px #d2dbe2;
  width: 255px;
  padding-left: 40px;
  color: #4a4a4a;
  border-radius: 6px;
  position: relative;
}

.date-container svg {
  position: absolute;
  left: 14px;
  top: 22%;
  z-index: 2;
}

.row.item-container .col-5.p-0 img {
  width: 100%;
}

.pplsCounterContainer .pplsCounter {
  display: flex;
  justify-content: flex-start;
}

.pplsCounterContainer {
  position: relative;
}

.row.item-container .col-7 button {
  position: absolute;
  bottom: 9px;
  right: 0;
  width: 132px;
  height: 40px;
  border-radius: 6px;
  border-color: #1fa7f8;
  color: #1fa7f8;
  cursor: pointer;
}

.pplsCounterContainer .pplsCounter.adult {
  padding-top: 15px;
}

.pplsCounterContainer .pplsCounter > div {
  display: flex;
  margin-left: 26px;
}

.pplsCounterContainer .pplsCounter label {
  min-width: 65px;
}

.pplsCounterContainer .pplsCounter > div input {
  width: 30px;
  border: none;
  margin-left: 5px;
  margin-top: -10px;
  background: transparent;
  font-size: 16px;
  margin-right: -7px;
  text-align: center;
}

.order-form-container {
  border-radius: 9px;
  border: 8px solid #0ec9cc;
  padding: 30px 68px;
}

#new_order .form-input {
  margin-top: 20px;
}

.orderAllContainer {
  width: 100%;
}

#new_order .form-input input {
  border-radius: 4px;
}

#new_order > textarea {
  margin-bottom: 0;
}

/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#new_order .container-radio.last {
  margin-bottom: 20px;
}

#new_order .container-radio.second {
  margin-top: -6px;
}

#new_order .container-radio.second span:last-child {
  top: 12px;
}

#new_order .container-radio.second span:first-child {
  display: block;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #71787e;
  margin-top: -10px;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 1px solid #1fa7f8;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #1fa7f8;
}

.btn-primary.book {
  width: 215px;
  height: 40px;
  border-radius: 6px;
  background-color: #0ec9cc;
  border-color: #0ec9cc;
  cursor: pointer;
}

@media (max-width: 650px) {
  .orderAllContainer {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .date-total-price > .row {
    height: 120px;
  }
  .date-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .total-price-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .allToursPriceText-container {
    text-align: center !important;
  }
  .allToursPriceText {
    margin-bottom: 0;
  }
  .allToursPriceAmount {
    margin-top: 0;
  }
}

@import 'custom/navbar_cart'
