body {
  color: #4a4a4a;
}

.container {
  height: fit-content;
}

.container h1 {
  font-weight: bold;
  color: #000;
  margin: 30px 0;
  font-size: 36px;
}

.container h2 {
  font-weight: bold;
  color: #000;
  margin: 50px 0 20px;
  font-size: 20px;
}

.container h1 {
  margin-top: 0;
}

.price-container {
  position: relative;
  margin-top: 15px;
}

.price-container img {
  margin-top: -7px;
  width: 24px;
}

.price-container p.child-price img {
  width: 30px;
}

.price-container p {
  font-size: 25px;
  color: #000;
}

.price-container button {
  position: relative;
  top: 0;
}

.form-container {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(6, 52, 87, 0.14);
  background-color: #ffffff;
}

#new_order button.btn-primary.cart {
  background-color: #0ec9cc;
  border-color: #0ec9cc;
}

#new_order button.btn-primary.cart:hover {
  background-color: #1fa7f8;
  border-color: #1fa7f8;
}

#new_order .formButtonsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  position: relative;
}

#new_order .formButtonsContainer input,
#new_order .formButtonsContainer button {
  margin: 0;
  width: auto;
}

#new_order .formButtonsContainer button.book {
  margin: 15px 0 30px;
  border-color: #1fa7f8;
  background-color: transparent;
  color: #1fa7f8;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new_order .formButtonsContainer button.book svg {
  width: 24px;
  height: 20px;
  margin-right: 13px;
}

#new_order .modal-body {
  padding-top: 20px;
}

#new_order .modal-content {
  width: 650px;
  height: 470px;
}

#new_order .modal-dialog {
  max-width: 650px;
  margin: 0 auto!important;
  top: 50%;
  transform: translateY(-50%);
}

#new_order .pplsCounter > img {
  margin-top: -4px;
}

#new_order .pplsCounter {
  display: flex;
  justify-content: space-between;
  padding: 20px 42px 0;
}

#new_order .pplsCounter label {
  margin-bottom: 0;
}

#new_order .pplsCounter > div {
  display: flex;
  margin-right: 40px;
}

#new_order .pplsCounter > div svg {
  width: 25px;
  cursor: pointer;
}

#new_order .pplsCounter input {
  width: 30px;
  border: none;
  margin-left: 5px;
  margin-top: -10px;
  background: transparent;
  font-size: 16px;
  margin-right: -7px;
  text-align: center;
}

#new_order #new_orderTitle {
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 20px;
  margin-bottom: 23px;
}

#new_order .pplsCounter .col-5 > input,
#new_order .pplsCounter .col-7 > input {
  width: 53px;
  height: 35px;
  border-radius: 4px;
  border: solid 1px #d8dcdd;
  padding-left: 10px;
}

#new_order .form-input {
  position: relative;
  margin-bottom: 20px;
  padding: 25px 30px 0;
}

#new_order .form-input label {
  position: absolute;
  left: 11px;
  top: -9px;
  margin: 0;
  line-height: normal;
  color: #000000;
  background-color: white;
  padding: 0 10px;
}

#new_order .col-6 > input {
  height: 35px;
  border-radius: 4px;
  border: solid 1px #d8dcdd;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
}

#new_order .col-6 > textarea {
  height: 74px;
  margin-bottom: 25px;
  border-radius: 4px;
  border: solid 1px #d8dcdd;
  width: 100%;
  padding: 0 20px;
}

#new_order .form-input input {
  height: 35px;
  border: solid 1px #d2dbe2;
  width: 100%;
  padding-left: 40px;
  color: #4a4a4a;
  border-radius: 6px;
}

#new_order .form-input svg {
  position: absolute;
  left: 44px;
  top: 51%;
}

#new_order .calcTotalPrice {
  margin-top: 20px;
  color: #000000;
  padding: 0 30px;
  border-bottom: 1px dashed #dadee3;
}

#new_order #finalTotalPrice {
  float: right;
  color: #1fa7f8;
  font-weight: bold;
  font-size: 22px;
}

.orderTourButtonShow {
  position: absolute;
  width: 98px;
  height: 25px;
  border-radius: 2px;
  background-color: #f5a623;
  border-color: #f5a623;
  line-height: normal;
  color: white;
  top: 172px;
  right: 30px;
  z-index: 2;
}

.small_images {
  cursor: pointer;
}

#imageModal .modal-content {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

#imageModal .modal-content img {
  width: auto;
  height: auto;
}

#imageModal .close_image {
  font-weight: bold;
  color: white;
  font-size: 53px;
  position: absolute;
  top: 25px;
  right: 15px;
  opacity: 1;
  line-height: 0;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
}

.index-tour {
  padding-top: 0;
  margin-top: -30px;
  padding-bottom: 150px;
}

b, strong {
  font-weight: 900;
}

.path-history {
  padding-top: 15px;
}

.path-history a {
  color: #71787e;
}

.path-history a:hover {
  color: #1fa7f8;
}

.image-container .col-8 {
  position: relative;
}

.image-container .col-8 .prev,
.image-container .col-8 .next {
  color: #fff;
  position: absolute;
  top: 32%;
  cursor: pointer;
}

.image-container .col-8 .prev:hover svg path,
.image-container .col-8 .next:hover svg path {
  fill: #D3D3D3;
}

.image-container .col-8 .prev {
  left: 50px;
}

.image-container .col-8 .next {
  right: 50px;
}

.image-container .mySlides.mySlides_0 {
  display: none;
}

.image-container .mySlides.mySlides_0 img {
  width: 100%;
}

.image-container .mySlides.mySlides_0:first-child {
  display: inherit;
}

.image-container .column {
  margin-top: 14px;
}

.image-container .column img {
  margin-right: 14px;
}

.image-container .column img:last-child {
  margin-right: 0;
}

.full_content_toggle {
  color: #1fa7f8;
  margin-bottom: 1rem;
  display: block;
}

.full-content {
  display: none;
}

.tour-program ul {
  position: relative;
}

.tour-program li,
.tour-necessary li,
.tour-included li {
  display: flex;
  align-items: center;
}

.tour-included li svg,
.tour-necessary li svg,
.tour-program li svg {
  margin-top: -4px;
  margin-right: 10px;
}

.tour-program .vertical-line {
  position: absolute;
  height: 92%;
  border-left: 1px solid #88d2ed;
  top: 6px;
  left: 9px;
}

.tour-included,
.tour-necessary {
  margin-top: 50px;
  flex: 0 0 45%;
  max-width: 45%;
  background-color: #f6f6f6;
  margin-right: 30px;
  padding: 25px 0 35px 30px;
}

.tour-included h2,
.tour-necessary h2 {
  margin-top: 0;
}

#new_order .order-form-duration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-bottom: 1px dashed #dadee3;
}

#new_order .order-form-duration svg {
  width: 23px;
  margin-right: 10px;
}

#new_order .order-form-duration svg path {
  fill: #88d2ed;
}

#new_order .order-form-duration {
  font-size: 28px;
  color: #000000;
}

#new_order .order-form-price {
  height: 100px;
  border-bottom: 1px dashed #dadee3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#new_order .order-form-price p {
  margin-bottom: 0;
  font-size: 16px;
}

#new_order .order-form-price p span {
  font-size: 28px;
  font-weight: 900;
}

#new_order .order-form-price p span:last-child {
  font-size: 20px;
  font-weight: bold;
}

.pplsCounterContainer {
  margin: 0 30px;
  border: 1px solid #d2dbe2;
  border-radius: 6px;
  padding-bottom: 5px;
}

.container .pplsCounterContainer h2 {
  margin: 0;
  padding: 9px 14px;
  border-bottom: 2px solid #d2dbe2;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  color: #545c62;
}

.container .pplsCounterContainer h2 svg {
  width: 18px;
  height: 18px;
  margin-top: 3px;
  margin-right: 10px;
}

.container .pplsCounterContainer h2 svg path {
  fill: #1fa7f8;
}

#new_order .user-info-inputs {
  padding: 12px 30px 0;
}

#new_order .user-info-inputs textarea,
#new_order .user-info-inputs input {
  width: 100%;
  margin-bottom: 12px;
  border-color: #d2dbe2;
  border-radius: 6px;
  padding-left: 20px;
}

.section-title-17 h2 {
  text-align: left !important;
  padding-top: 50px;
}

.section-title-17 h2::after {
  width: 0;
}

#price h3 {
  color: #000;
  font-size: 20px;
  margin-bottom: 30px;
}

#price textarea,
#price input {
  width: 100%;
  margin-bottom: 15px;
  border-color: #bbc1c6;
  border-radius: 4px;
  padding-left: 20px;
  line-height: 1.36;
  letter-spacing: normal;
}

#price input.inputfile {
  width: 0.1px;
  height: 0.1px;
}

#price .info-content > div {
  display: flex;
}

#price .info-content > div svg {
  margin-top: 8px;
  margin-left: 15px;
}

#price .info-content > div svg path {
  fill: #1fa7f8;
}

#price .info-content > div label {
  cursor: pointer;
  margin-bottom: 0;
  border-bottom: 1px dashed #71787e;
  height: fit-content;
  line-height: 15px;
  margin-top: 7px;
  margin-left: 3px;
}

#price #comment-submit {
  width: 215px;
  border-radius: 6px;
  background-color: #0ec9cc;
  margin: 0 auto;
}

.flash .alert.alert-success.alert-dismissable.fade.show {
  margin: 10px 0;
}

.both-arrow-container {
  display: flex;
  justify-content: center;
}

.both-arrow-container svg {
  margin-right: 10px;
  margin-top: 15px;
}

.both-arrow-container svg path {
  fill: #0ec9cc;
}

.arrow-container-left svg {
  display: none;
}

.asana-banner .main-container,
.asana-banner img {
  height: 400px !important;
  min-height: 400px !important;
}

.main-content .col-3 .left-menu {
  width: 250px;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(6, 52, 87, 0.14);
  background-color: #ffffff;
  padding: 30px 24px;
}

.main-content .col-3 .left-menu input {
  margin-right: 11px;
  margin-bottom: 10px;
}

.main-content .col-3 .left-menu p {
  display: inline;
}

.container.main-content {
  margin-top: 57px;
}

/* Customize the label (the container) */
.container-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #cdd1d4;
}

/* On mouse-over, add a grey background color */
.container-label:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container-label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-label .checkmark:after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#phuket-tour-container .tour-container {
  width: 270px;
  height: 515px;
  margin: 0;
}

#phuket-tour-container .shortContentContainer {
  height: 155px;
}

#phuket-tour-container .tourTitleContainer .tourTitle {
  font-size: 16px;
}

.container #phuket-tour-container h2 {
  margin: 0;
  margin-top: -16px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  position: relative;
}

.container #phuket-tour-container h2:after {
  display: block;
  content: '';
  width: 70px;
  height: 4px;
  background: #1fa7f8;
  position: absolute;
  bottom: -8px;
  left: 0;
}

#phuket-tour-container .block-tours-container {
  margin-top: 50px;
}

#phuket-tour-container .block-tours-container.show:first-child {
  margin-top: 0;
}

.navbar #undefined-sticky-wrapper.sticky-wrapper {
  padding-top: 0;
}

@import 'custom/navbar_cart'
