nav.navbar {
  padding: 5px 60px;
  background-image: url('nav_bar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand img {
  width: 100px;
  height: 60px;
}

#navbarNavDropdown {
  margin-left: 40px;
  justify-content: space-between;
  color: white;
}

.nav-item {
  padding: 0 15px;
}

#order_tour_button {
  margin-top: 20px;
  margin-left: -50%;
}

.show {
  text-align: center;
}

.show form {
  display: inline;
}

.show ul {
  display: inline;
}

.show #contacts {
  min-width: 260px;
  width: 40%;
  margin: 0 auto;
}

@media only screen and (max-width: 425px) {
  .show {
    margin-left: 0!important;
  }
  nav.navbar {
    padding: 5px 10px;
  }
}

#contacts {
  width: 260px;
}


#contacts .col-sm-4,
#contacts .col-sm-8 {
  padding: 0;
}

#contacts .col-sm-8 p {
  font-size: 20px;
  margin: 0;
}

#contacts .col-sm-4 img{
  margin-top: 10px;
}

.form-inline button {
  background-color: #c9c9c9;
}

.navbar-nav li a {
  color: black!important;
  font-weight: 900;
  padding: 8px 0!important;
  font-size: 18px;
}

.main_page_background {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.container {
  width: 100%;
  height: 400px;
}

#facebook_baner {
  background-image: url(facebook.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 380px;
  height: 150px;
  float: right;
}
