.header-17 .total-header-area .container {
  padding: 5px 0;
}

.header-17 .total-header-area .container .row.align-items-center {
  display: inherit;
  justify-content: space-between;
}

.btn-group {
  width: 0;
  color: white;
  margin-right: 60px;
}

.currency {
  margin-right: -10px;
  margin-left: 30px;
}

.btn-group img {
  margin: 0 10px;
}

.btn-group .currency img {
  margin-right: 30px;
}

.hidden {
  display: none;
}

.white-collor {
  color: white!important;
}

.black-collor {
  color: #4a4a4a!important;
}

#basket {
  position: absolute;
  top: 5px;
}

#basket #black img {
  width: 30px;
}

.Oval-2 {
  width: 23px;
  height: 23px;
  background-color: #3bb5eb;
  position: absolute;
  right: -10px;
  bottom: -10px;
  text-align: center;
  border-radius: 50%;
}

.layer {
  width: auto;
  height: 13px;
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  right: 9px;
  bottom: 6px;
}

.asana-banner img {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.asana-banner .main-container {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}

.asana-banner .main-container .container {
  margin-top: 50px;
}

.alert.alert-success.alert-dismissable.fade.show {
  margin-top: 100px;
  margin-bottom: -30px;
}

.phone-container {
  display: inline-block;
  float: right;
  margin-top: 15px;
  font-size: 16px;
}

.logo {
  display: inline-block;
  margin-left: 0px;
}

p.phone {
  line-height: 20px;
  margin: 0;
  color: #fff;
  text-shadow: 3px 3px 5px #000000;
  position: relative;
  display: inline-block;
}

p.phone svg, p.mail svg {
  width: 21px;
  height: 16px;
  object-fit: contain;
  position: absolute;
  left: -30px;
  top: 1px;
}

p.phone svg path {
  fill: #fff;
}

.asana-banner .main-container .contact-info .container {
  margin-top: 100px;
}

.asana-banner .main-container .contact-info .container p {
  color: white;
}

.asana-banner .main-container .contact-info .container p:first-child {
  margin-bottom: 0;
}

.asana-banner .contact-info img {
  position: relative;
}

.call-request {
  width: 135px;
  height: 25px;
  border-radius: 2px;
  border: solid 1px #ffffff;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 3;
  line-height: 22px;
}

button.call-request:focus {
  outline: none;
}

.modal-open .modal {
  z-index: 1000000;
}

#second-menu.main-menu {
  padding-top: 700px;
  margin: 0 auto;
}

#second-menu.main-menu nav {
  padding-top: 15px;
}

#second-menu.main-menu nav ul li a{
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #078eaa;
}

#second-menu.main-menu nav ul li img{
  width: 19px;
  height: 10px;
  object-fit: contain;
  position: relative;
  margin-left: -30px;
}

.second-menu-row {
  border-bottom: 1px solid #d8dcdd;
  padding-bottom: 15px;
}

.tour-container {
  height: 410px;
  width: 340px;
  border: solid 1px #d8dcdd;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  margin: 30px 30px 0 0;
}

.shortContentContainer {
  min-height: 136px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #4a4a4a;
  border-left: 3px solid #f5a623;
  padding: 0 15px;
  margin: 10px -2px 0px;
  position: relative;
}

.shortContentContainer p {
  top: 50%;
  margin-bottom: 10px;
  margin-right: 10px;
  transform: translateY(-50%);
  position: absolute;
}

.imagesContainer {
  position: relative;
  min-height: 217px;
}

.imagesContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
  cursor: pointer;
}

.imagesContainer > p {
  position: absolute;
  color: #fff;
  z-index: 2;
}

.imagesContainer > p:first-of-type {
  top: 20px;
  left: 30px;
}

.imagesContainer > p:last-of-type {
  top: 170px;
  left: 30px;
  font-weight: bold;
}

.imagesContainer > p:last-of-type img {
  margin-top: -4px;
}

.imagesContainer > p:last-of-type img:last-of-type {
  margin-left: 10px;
}

.imagesContainer .tourTitle {
  font-size: 24px;
  top: 75px;
  left: 29px;
  font-weight: bold;
}

.imagesContainer > button {
  position: absolute;
  width: 98px;
  height: 25px;
  border-radius: 2px;
  background-color: #f5a623;
  border-color: #f5a623;
  line-height: normal;
  color: white;
  top: 172px;
  right: 30px;
  z-index: 2;
  cursor: pointer;
}

.buttonsContainer {
  padding: 0 40px;
  font-size: 14px;
  font-weight: 500;
}

.buttonsContainer button {
  width: 135px;
  height: 25px;
  border-radius: 2px;
  border: solid 1px #f5a623;
  line-height: normal;
  color: #f5a623;
}

.buttonsContainer a {
  float: right;
  color: #f5a623;
}


/* The Modal (background) */
.imagesModal.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

/* Modal Content */
.imagesModal .modal-content {
  min-width: 1100px;
  max-height: 100vh;
  position: relative;
  background: transparent;
  box-shadow: none;
  margin: auto;
  padding: 0;
  border: none;
  width: fit-content;
  height: fit-content;
  top: 52%;
  transform: translateY(-50%);
}

/* The Close Button */
.imagesModal .close {
  color: white!important;
  position: absolute;
  top: 25px;
  right: -40px;
  font-size: 50px;
  font-weight: bold;
  line-height: inherit;
}

.imagesModal .close:hover,
.imagesModal .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.imagesModal .mySlides {
  display: none;
  text-align: center;
}

.imagesModal .cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.imagesModal .prev,
.imagesModal .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 16px;
  width: auto;
  color: white!important;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.imagesModal .next {
  right: -57px;
}

.imagesModal .prev {
  left: -57px;
}

/* On hover, add a black background color with a little bit see-through */
.imagesModal .prev:hover,
.imagesModal .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.imagesModal .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.imagesModal .demo {
  opacity: 0.6;
}

.imagesModal .active,
.imagesModal .demo:hover {
  opacity: 1;
}

.imagesModal img.hover-shadow {
  transition: 0.3s;
}

.imagesModal .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagesModal .column {
  position: relative;
  text-align: center;
  max-width: 940px;
  margin: 0 auto;
}

.imagesContainer #orderTour button {
  width: auto;
  height: auto;
  margin: 0;
}

.modal-open #orderTour.modal {
  overflow: hidden;
}

#orderTour button.btn-primary.cart {
  background-color: #078eaa;
  border-color: #078eaa;
}

#orderTour button.btn-primary.cart:hover {
  background-color: #025aa5;
  border-color: #01549b;
}

#orderTour .formButtonsContainer {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
}

#orderTour .formButtonsContainer input,
#orderTour .formButtonsContainer button {
  margin: 0;
  width: auto;
}

#orderTour .modal-body {
  padding-top: 20px;
}

#orderTour .modal-content {
  width: 650px;
  height: 470px;
}

#orderTour .modal-dialog {
  max-width: 650px;
  margin: 0 auto!important;
  top: 50%;
  transform: translateY(-50%);
}

#orderTour .pplsCounter > img {
  margin-top: -4px;
}

#orderTour .pplsCounter {
  padding-bottom: 20px;
  border-bottom: solid 1px #d8dcdd;
}

#orderTour .pplsCounter.adult {
  border: none;
  padding-bottom: 0;
}

#orderTour .pplsCounter input {
  margin: 0;
}

#orderTour #orderTourTitle {
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 20px;
  margin-bottom: 23px;
}

#orderTour .pplsCounter .col-5 > input,
#orderTour .pplsCounter .col-7 > input {
  width: 53px;
  height: 35px;
  border-radius: 4px;
  border: solid 1px #d8dcdd;
  padding-left: 10px;
}

#orderTour .pplsCounter input:first-of-type {
  margin-right: 15px;
}

#orderTour .form-input,
#new_order .form-input {
  position: relative;
  margin-bottom: 20px;
}

#orderTour .form-input label,
#new_order .form-input label {
  position: absolute;
  left: 11px;
  top: -9px;
  margin: 0;
  line-height: normal;
  color: #000000;
  background-color: white;
  padding: 0 10px;
}

#orderTour .col-6 > input,
#new_order .col-6 > input {
  height: 35px;
  border-radius: 4px;
  border: solid 1px #d8dcdd;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
}

#orderTour .col-6 > textarea,
#new_order > textarea {
  height: 74px;
  margin-bottom: 25px;
  border-radius: 4px;
  border: solid 1px #d8dcdd;
  width: 100%;
  padding: 0 20px;
}

#orderTour .form-input input,
#new_order .form-input input {
  height: 35px;
  border: solid 1px #d8dcdd;
  width: 100%;
  padding-left: 20px;
  color: #4a4a4a;
}

#orderTour .calcTotalPrice {
  margin-top: 20px;
  color: #000000;
}

#orderTour #finalTotalPrice {
  float: right;
  color: #078eaa;
  font-weight: bold;
  font-size: 22px;
}

.call-request-scroll {
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 2;
  display: none;
  background: transparent;
  border:none;
  box-shadow: none;
}

.call-request-scroll:focus {
  outline: none;
}

.input-container.checkbox-container {
  position: relative;
}

.small_total {
  position: absolute;
  background: white;
  color: black;
  width: 330px;
  top: 30px;
  z-index: 999;
  padding: 10px 5px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px grey;
  display: none;
}

.content_error {
  position: relative;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -7px;
  left: 37px;
}

.small_total img {
  width: 17px;
  margin-right: 5px;
  margin-top: -2px;
}

.submit-container {
  margin-top: 20px;
}

.asana-banner.relative .region-container {
  margin-left: -70px;
  margin-right: -70px;
  margin-top: 40px;
}

.region-container > div {
  display: flex;
  flex-direction: column;
  height: 370px;
  width: 270px;
  background-color: #fff;
  box-shadow: 5px 5px 30px 0 rgba(6, 52, 87, 0.42);
  border-radius: 8px;
  margin: 0 10px;
}

.asana-banner .region-container > div > div {
  margin-top: 10px;
}

.asana-banner .region-container > div > div > img {
  width: 250px;
  height: 200px;
  position: inherit;
}

.region-container .col-3 {
  flex: 0 0 23%;
  max-width: 23%;
}

.name-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.name-container p {
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.region-container .col-3:nth-child(2) .name-container svg path,
.region-container .col-3:last-child .name-container svg path {
  fill: #0ec9cc;
}

.tour-count-container p {
  font-size: 16px;
}

.tour-count-container p:first-child {
  margin-bottom: 0;
}

.grid-template {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.map-container {
  margin-bottom: -70px;
}

.map-container svg {
  margin-top: -140px;
  margin-left: 100px;
}

#our_advantages .text-container h2 {
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  position: relative;
}

#our_advantages .text-container h2::after {
  display: block;
  content: '';
  width: 70px;
  height: 4px;
  background: #1fa7f8;
  position: absolute;
  bottom: -8px;
  left: 0;
}

#our_advantages .text-container p,
.grid-template p {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #545c62;
}

#our_advantages .text-container p.font-weight-bold {
  margin-top: 24px;
}

.pl-40 {
  padding-left: 40px;
}

#mainHeaderImd {
  min-height: 800px;
}

.social-media {
  width: 67%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.social-media svg {
  margin-left: 40px;
}

.footer-info-container p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #a7bfd6;
  position: relative;
  margin-bottom: 20px;
}

.footer-info-container p svg {
  position: absolute;
  left: -30px;
  top: 0;
}

.footer-info-container p:nth-child(2) svg {
  top: 3px;
}

.footer-info-container p svg path {
  fill: #a7bfd6;
}

footer select {
  width: 269px;
  height: 48px;
  border-radius: 6px;
  border-color: #a7bfd6;
  background: transparent;
  color: #a7bfd6;
  -webkit-appearance: none;
  padding: 0 16px;
}

.color-logo {
  display: none;
}

.sticky-wrapper.is-sticky p.phone {
  color: #181717;
  text-shadow: none;
}

.basket-container {
  display: none;
  margin-left: 40px;
  width: 30px;
  height: 30px;
  position: relative;
}

.sticky-wrapper.is-sticky .basket-container {
  display: inline-block;
}

.select-currency {
  display: none;
  position: relative;
  margin-left: 60px;
}

.sticky-wrapper.is-sticky .select-currency {
  display: inline-block;
}

.select-currency select {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
}

.select-currency svg {
  width: 13px;
  position: absolute;
  right: 7px;
  top: 4px;
}

.select-currency svg path {
  fill: #3bb5eb;
}

.footer-select-currency {
  position: relative;
  width: fit-content;
}

.footer-select-currency svg {
  width: 12px;
  position: absolute;
  right: 20px;
  top: 13px;
}

.footer-select-currency svg path {
  fill: #a7bfd6;
}













